# By default, the following paths and files are ignored, so there's no need to add them to .npmignore explicitly:

# .*.swp
# ._*
# .DS_Store
# .git
# .hg
# .npmrc
# .lock-wscript
# .svn
# .wafpickle-*
# config.gypi
# CVS
# npm-debug.log
# Additionally, everything in node_modules is ignored, except for bundled dependencies. npm automatically handles this for you, so don't bother adding node_modules to .npmignore.

# The following paths and files are never ignored, so adding them to .npmignore is pointless:

# package.json
# README (and its variants)
# CHANGELOG (and its variants)
# LICENSE / LICENCE

.vscode/
lib/
node_modules/
npm-scripts/
public/
src/

.env
.gitignore
craco.config.js
package-lock.json
tsconfig.json
tsconfig.paths.json
version_history.md
yarn.lock